
@ct-color-main: #2d7dff;
@ct-color-gradient-main: #2d7dff;
@ct-color-gradient-off: #005bee;
@ct-color-gradient-main-opacity: rgba(40,120,250,0.55);
@ct-color-gradient-off-opacity: rgba(0,80,209,0.55);
@ct-color-header: #000000;

@t-color-main: #ffb900 ;
@t-color-gradient-off: #d58500 ;
@t-color-gradient-main-opacity: rgba(255,185,0,0.55);
@t-color-gradient-off-opacity: rgba(213,133,0,0.55);
@t-color-header: #ffffff;

@money-color: #ffffff;
@health-lost-color: rgba(160,160, 160,0.3);

@ui-image-bg: rgba(7, 7, 7, 0.0);

@ui-background-main-light: rgba(0,0,0,0.40);
@ui-background-main: rgba(0,0,0,0.6);
@ui-background-main-dark: rgba(0,0,0,0.82);
@ui-background-dark: rgba(0,0,0,0.75);
@ui-background-dark-inv: rgba(0,0,0,0);
@ui-background-light: rgba(199, 199, 199, 0.7);
@ui-background-light-inv: rgba(214, 214, 214, 0.8);

@ui-watching-player: rgba(130, 130, 130, 0.7);
@ui-watching-player-inv: rgba(145, 145, 145, 0.8);

@dead-color-main: rgba(153, 153, 153, 0.95);

@status-good: #339966;
@status-poor: #ff3300;

@grades-color-bad: #bc2026;
@grades-color-poor: #ef4723;
@grades-color-fair: #fecc09;
@grades-color-good: #7dbb42;
@grades-color-excellent: #0f9246;

@ui-bomb-default: -webkit-linear-gradient(#ff0000 2%, #bd0000 100%);
@ui-bomb-defused: -webkit-linear-gradient(#0f9246 2%, #086830 100%);